/* Eric Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Sizing Model */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.game-intro {
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    background-image: url('../images/dog-wagging.png');
    background-repeat: no-repeat;
    background-position: 50px 50px;
}

.scoreboard {
    margin: 30px auto 10px auto;
    font-size: 26px;
    width: 60%;
    display: flex;
    text-align: center;
}

.scoreboard p {
    margin-top: 10px;
    padding: 10px;
    flex: 1;

}

body {
    margin: 0;
    background-color: black;

}

.grid {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    margin-bottom: 50px;
    background-color: white;
}

#game {
    display: none;
}

#youWin {
    color: indianred;
}

.buttons {
    margin: 10px auto 20px auto;
    text-align: center;
}

button {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    color: white;
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    outline: none;
}

button:hover {
    background-color: white;
    color: black;
}

.card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    cursor: pointer;
}

.card, .back, .front {
    height: 120px;
    width: 120px;

}

.back, .front {
    position: absolute;
    /* backface-visibility: hidden; */
}

.front {
    background: url(../images/dog-shadow.jpg) no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: transparent !important;
}
.match {
    cursor: default;
}

footer {
    margin: 0 auto;
    text-align: center;
}

#credits {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
}

.credit-content {
    font-family: 'Amatic SC', sans-serif;
    color: white;
    display: none;
}

.credit-content.show {
    background-color: white;
    color: black;
    display: block;
}